extends ./../index.jade
block vars
    - var activeNav='продукция'
    - path="./../"
    - showCalculatorLink = true
    - shortName = 'NoaTube C-Type'
    - nameRU = 'Проточная установка колонного типа NoaTube C-Type'
    - imageLinks = ['noatube01.jpg', 'noatube02.jpg', 'noatube-c-type.jpg', 'noatube-c-type1.jpg']
    - imageSigns = ['Прочный металл', 'Прочный металл', 'Прочный металл', 'Прочный металл']

    - productDescription = "Катализаторы: Гранулы / ВПЯК<br>Режим работы: Периодический / непрерывный"

    - productOther = '<div class="well">'
    - productOther += '<p><strong>Технические характеристики</strong></p>'
    - productOther +=     '<ul class="list-no-left-padding">'
    - productOther +=         '<li><i class="icon-angle-right"></i>Vк.з. = 2 / 4 / 8 / л</li>  '
    - productOther +=         '<li><i class="icon-angle-right"></i>Т = - 60..+ 350 °С</li>  '
    - productOther +=         '<li><i class="icon-angle-right"></i>P = -1...50 атм</li>  '
    - productOther +=         '<li><i class="icon-angle-right"></i>Нержавеющая сталь</li>  '
    - productOther +=         '</ul>'
    - productOther += '</div> '
    - productOther += '<div class="well">'
    - productOther +=     '<p><strong>Процессы:</strong></p>'
    - productOther +=     '<ul class="list-no-left-padding">'
    - productOther +=         '<li><i class="icon-angle-right"></i>Органический синтез</li>  '
    - productOther +=         '<li><i class="icon-angle-right"></i>Дегидратация</li>  '
    - productOther +=         '<li><i class="icon-angle-right"></i>Изомеризация</li>  '
    - productOther +=         '<li><i class="icon-angle-right"></i>Окисление</li>  '
    - productOther +=         '<li><i class="icon-angle-right"></i>Диспропорционирование</li>  '
    - productOther +=         '</ul>'
    - productOther += '</div> '

    - productPrevious = 'noatube-duos'

block content
    include ./../_includes/_product-equipment.jade



