extends index.jade
block vars
    - var activeNav='процессы'
    - path="./"
block content
    #main
        .container
            section#articles
                .hgroup
                    h1 Процессы
                    ul.breadcrumb.pull-right
                        li
                            a(href='') Начало
                            span.divider /
                        li.active Процессы
                .row
                    ul.list-unstyled
                        // var 'processes' from data.json
                        each val in processes
                            .production_item.span3
                                .production_photo(style='background-image: url(#{path}images/processes/#{val.img}.png)')
                                    a(href='')
                                .production_description
                                    h3
                                        a(href='') #{val.name}


