extends ./../index.jade
block vars
    - var activeNav='статьи'
    - path="./../"
block content
    #main
        .container
            section#articles
                .hgroup
                    h1 Заказной органический синтез и омологация
                    ul.breadcrumb.pull-right
                        li
                            a(href='') Начало
                            span.divider /
                        li
                            a(href='#{path}articles.html') Статьи
                            span.divider /
                        li.active Заказной синтез
                article
                    .row-fluid
                        .span8
                            p
                                | Компания “Русский катализатор” предоставляет услуги по омологации продукции и синтезу
                                | органических соединений.
                            h3 Заказной синтез
                            p
                                | “РК” специализаируется на процессах гидрирования и селективного восстановления органических
                                | соединений (как индивидуальных, так и смесевых), гидрообессеривания.
                            p
                                | РК обладает собственным парком лабораторных установок и проточных реакторов, который
                                | позволяет проводить процесс в широком диапазоне условий.
                            p
                                strong Возможности лабораторного оборудования для жидкофазных процессов:
                            ul
                                li
                                    | Давление -1… 150 атм
                                li Т= до 250 С
                                li
                                    | V = 50 мл / 100 мл / 300 мл
                            p
                                strong Возможности пилотного оборудования для жидкофазных процессов:
                            ul
                                li Давление -1… 50 атм
                                li Т= до 250 С
                                li V = 1 л / 10 л / 50 л
                            h3 Омологация продукции
                            p
                                | Компания “Русский Катализатор” проводит процессы гидрооблагораживания, направленные на
                                | усовершенствование продукта, улучшение его органолептических и технических
                                | характеристик.
                            p Дополнительные услуги:
                            ul
                                li Разработка химических процессов
                                li Опытное и контрактное производство
                                li НИР
                            p
                                | R&D центр компаний “Русский катализатор” оснащен необходимым оборудованием и катализаторами
                                | для проведения работ различных уровней сложности, в частности:
                            ul
                                li лабораторными металлическими реакторами с перемешиванием и взбалтыванием;
                                li лабораторными проточными реакторами;
                                li пилотными реакторами из нержавеющей стали (автоклавы) до 200 атм;
                                li пилотными проточными реакторами до 50 атм;
                                li оригинальным оборудованием, адаптированным для конкретной технологии.
                            p
                                | Для выделения полученных веществ используется ректификационное оборудование, а также
                                | оборудование для кристаллизаци. При необходимости могут использоваться и более сложные
                                | технологии выделения и очистки полученных веществ - жидкостная хроматография, экстракция и
                                | др.
                            p
                                | Компания “Русский катализатор” способна продолжить разработку технологии с целью
                                | масштабирования производства до промышленного уровня.
                            p Наши преимущества:
                            ul
                                li Качественное и своевременное выполнение заказа
                                li Собственный парк необходимого оборудования
                                li Наличие безопасной промышленной площадки для процессов гидрирования.
                            p Перечень основных реакций гидрирования и селективного восстановления:
                            ul
                                li восстановление алифатических и ароматических нитросоединений
                                li восстановление оксимов
                                li селективное восстановление функциональных группировок
                                li тонкое гидрообессеривание органических соединений (с 200ppm)
                                li гидрирование ацетиленовых и диеновых углеводородов
                                li гидриование жиров, жирных кислот
                                li гидрирование углеводородов разветвленного строения
                                li гидрирование альдегидов, кетонов, карбоновых кислот
                                li гидрование иминов, нитриллов
                            p Методы анализа для контроля качества продукции:
                            ul
                                li Высокоэффективная жидкостная хроматография (ВЭЖХ)
                                li Тонкослойная хроматография (ТСХ)
                                li Инфракрасная спектроскопия (ИК)
                                li Ультрафиолетовая спектроскопия (УФ)
                                li Спектроскопия ядерного магнитного резонанса
                                li Элементный анализ
                                li Потенциометрическое измерение рН
                                li Измерение температуры плавления и кипения
                            p
                                | В случае совместной заинтересованности сторон мы готовы разработать и внедрить процесс на
                                | предприятии заказчика, принять участие в разработке регламента на производство, а также
                                | производить продукцию своими силами на постоянной основе.
                            p
                                | Гарантируется конфиденциальность переданной и полученной в ходе работы информации.
                            p
                                | Обращаем внимание, что наша компания не выполняет заказы по синтезу веществ, подконтрольных
                                | ФСКН, а также обладающих некоторыми видами биологической активности (наркотической,
                                | психотропной и т.п.).



