h1.vpyk-technical-header Область применения ВПЯК
    ul.vpyk-technical-tags
        li.label.label-info Гидрирование
        li.label.label-info Фармацевтика
        li.label.label-info Специальная химия
        li.label.label-info Органический синтез
        li.label.label-info Окисление
        li.label.label-info Нефтехимия
        li.label.label-info Обессеривание
        li.label.label-info Беспламенное горение
        li.label.label-info Фильтрация
        li.label.label-info Лесохимия
        li.label.label-info Пищевая химия
        li.label.label-info R&D
        table.vpyk-technical-table.table.table-bordered.table-condensed.table-hover
            tr
                th Альфа
                th Гамма
                th Циркон
                th Карбон
                th Цеолит
            tr
                td Фильтрация сплавов
                td Риформинг Pt
                td Изомеризация
                td Гидрирование Pd
                td Селективное гидрирование ZSM-5
            tr
                td Фильтрация газов, аэрозолей
                td Гидрирование Pd
                td Ацилирование АС
                td Гидрирование Pd
                td Крекинг
            tr
                td Сорбция газов
                td Селективное гидрирование
                td Алкилирование
                td Селективное гидрирование Pd
                td Гидрокрекинг
            tr
                td Инертная насадка
                td Органический синтез
                td Дегидратация спиртов
                td Постановка снятие защитных групп
                td Гидроизомеризация
            tr
                td Огнеупорный материал
                td Гидрообессеривание Ni
                td Конверсия метанола
                td Органический синтез
                td Ароматизация
            tr
                td
                td Беспламенное дожигание
                td Гидрокрекинг
                td
                td Алкилирование
            tr
                td
                td Нитрование
                td Полимеризация эфиров
                td
                td
            tr
                td
                td Окисление
                td Гидрообессеривание
                td
                td
            tr
                td
                td Дожигание выхлопных газов
                td Диспропорционирование
                td
                td
