extends ./../index.jade
block vars
    - var activeNav='продукция'
    - path="./../"
    - shortName = 'ВПЯК'
    - nameRU = 'Блочный Высокопористый Ячеистый Катализатор'
    - imageLinks = ['VPYK01.jpg', 'VPYK02.jpg', 'vpyk-ukk-diff.jpg']
    - imageSigns = ['Эффективная фильтрация', 'Прочный', 'Многоразовый', 'Проницаемый']

    - productDescription = "Катализатор для каталитического восстановления и гидрирования "
    - productDescription += "органических соединений. Представляет собой блоки открыто-ячеистого проницаемого корундового материала"
    - productDescription += "с нанесенной активной подложкой из оксида алюминия, или сульфатированного диоксида циркония,"
    - productDescription += "или углерода, и активного компонента – палладия (0,1-3%масс.)."

    - productTechnical = '<table class="vpyk-table">'
    - productTechnical += '<tr><td>Пористость, %</td><td> 80-96</td></tr>'
    - productTechnical += '<tr><td>Плотность, г/см3</td><td> 0,3-0,5</td></tr>'
    - productTechnical += '<tr><td>Прочность на сжатие, МПа</td><td> 0,6-1,2</td></tr></table>'

    - productAdvantages = '<ul class="list-no-left-padding">'
    - productAdvantages += '<li><i class="icon-angle-right"></i>НЕ загрязняет готовый продукт</li>'
    - productAdvantages += '<li><i class="icon-angle-right"></i>Обеспечивает высокую скорость потока (при использовании в проточном реакторе)</li>'
    - productAdvantages += '<li><i class="icon-angle-right"></i>Выполняет роль смесителя (массообменной насадки)</li>'
    - productAdvantages += '<li><i class="icon-angle-right"></i>Более 50 регенераций без потери активности</li>'
    - productAdvantages += '<li><i class="icon-angle-right"></i>Применим в емкостных реакторах с мешалкой</li>'
    - productAdvantages += '<li><i class="icon-angle-right"></i>Быстрая Картриджная система замены</li>'
    - productAdvantages += '<li><i class="icon-angle-right"></i>Активность, как у порошкового катализатора</li>'
    - productAdvantages += '</ul>'
    - productNext = 'dust'

block content
    include ./../includes/product.jade

